
apikey.py
secretkeys.env
.env
.chroma
pdfs/
images/
2023-06-27/
2023-06-28/
genVisual/captions
genVisual/saved_models
genVisual/saved_vocabulary
env
env/
.env
_pycache/
vector_db/
.credentials
Calls_Messaging/credentials.json
